*{
    padding: 0px;
    margin: 0px;
}



#heading{
    padding-left: 25px;
    font-family: cursive;
    text-decoration: none;
    font-size:30px;
    font-weight: 500;
    color: black;
}

#navbar{
    background-color: rgb(174, 230, 102);
    border:1px solid green;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position : fixed;
    left : 0px;
    top: 0px;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navone{
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 500;
    
}

#searchbar{
    height:22px;
    width:250px;
    border-radius: 20px;
}

#background_image{
    height:620px;
    width: 100%; 
}

#about_plants{
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 470;
    font-size: 30px;
    line-height: 35px;
    color:greenyellow;
}

#collen1{
    color: greenyellow;
    position: relative;
    left:480px;
    top:100px;
}


#collen2{
    color: greenyellow;
    position:relative;
    left:1005px;
    bottom:50px;

}

#background{
    background-image:url("/Images/monstera_background.jpg");
    background-size: cover;
}

#imp_of_plants{
    background-color:#4C956C;
    font-size: 20px;
    line-height: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    border:5px solid rgb(5, 63, 23);
}

#heading2{
    font-size: 40px;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    color:rgb(5, 63, 23);
    background-color:rgb(174, 230, 102); ;
}